$max-width: 1500px;

$space-0: 0;
$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 24px;
$space-6: 32px;
$space-7: 48px;

$blue: #6bdde2;
$white: #fff;
$black: #000;
$black-35: rgba(0, 0, 0, 0.35);
$black-45: rgba(0, 0, 0, 0.45);
$black-50: rgba(0, 0, 0, 0.5);
$black-75: rgba(0, 0, 0, 0.75);

$font-family: "Poppins", sans-serif;
$fw-bold: 700;
$fw-extrabold: 800;

$bp-md: 768px;
$bp-lg: 1024px;
